Server/Servidor/Calc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Calc"
 targetNamespace="http://smartweb.semanticweb.org/Calc.wsdl"
 xmlns:tns="http://smartweb.semanticweb.org/Calc.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="urn:Calc"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:Calc"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:Calc"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <!-- operation request element -->
  <element name="add">
   <complexType>
    <sequence>
     <element name="a" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns__add::a -->
     <element name="b" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns__add::b -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="addResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__add::result -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="sub">
   <complexType>
    <sequence>
     <element name="a" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns__sub::a -->
     <element name="b" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns__sub::b -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="subResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__sub::result -->
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="addRequest">
 <part name="Body" element="ns:add"/><!-- ns__add::ns__add -->
</message>

<message name="addResponse">
 <part name="Body" element="ns:addResponse"/>
</message>

<message name="subRequest">
 <part name="Body" element="ns:sub"/><!-- ns__sub::ns__sub -->
</message>

<message name="subResponse">
 <part name="Body" element="ns:subResponse"/>
</message>

<portType name="CalcPortType">
 <operation name="add">
  <documentation>Service definition of function ns__add</documentation>
  <input message="tns:addRequest"/>
  <output message="tns:addResponse"/>
 </operation>
 <operation name="sub">
  <documentation>Service definition of function ns__sub</documentation>
  <input message="tns:subRequest"/>
  <output message="tns:subResponse"/>
 </operation>
</portType>

<binding name="Calc" type="tns:CalcPortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="add">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="sub">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
</binding>

<service name="Calc">
 <documentation>gSOAP 2.8.21 generated service definition</documentation>
 <port name="Calc" binding="tns:Calc">
  <SOAP:address location="http://localhost:1444"/>
 </port>
</service>

</definitions>
