Server/server.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Thu Mar 26 2015 12:37:33 GMT+0100 (Hora estándar romance) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="definitions">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="types"></xs:element>
                            <xs:element name="message" maxOccurs="unbounded">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="part">
                                                        <xs:complexType>
                                                               <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                               <xs:attribute name="type" type="xs:string"></xs:attribute>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                          <xs:attribute name="name" type="xs:string"></xs:attribute>
                                      </xs:complexType>
                               </xs:element>
                            <xs:element name="portType">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="operation">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="input">
                                                                             <xs:complexType>
                                                                                    <xs:attribute name="message" type="xs:string"></xs:attribute>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                      <xs:element name="output">
                                                                             <xs:complexType>
                                                                                    <xs:attribute name="message" type="xs:string"></xs:attribute>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                  </xs:sequence>
                                                               <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                          <xs:attribute name="name" type="xs:string"></xs:attribute>
                                      </xs:complexType>
                               </xs:element>
                            <xs:element name="binding">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="soap:binding">
                                                        <xs:complexType>
                                                               <xs:attribute name="style" type="xs:string"></xs:attribute>
                                                               <xs:attribute name="transport" type="xs:string"></xs:attribute>
                                                           </xs:complexType>
                                                    </xs:element>
                                                 <xs:element name="operation">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="soap:operation">
                                                                             <xs:complexType>
                                                                                    <xs:attribute name="soapAction" type="xs:string"></xs:attribute>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                      <xs:element name="input">
                                                                             <xs:complexType>
                                                                                    <xs:sequence>
                                                                                           <xs:element name="soap:body">
                                                                                                  <xs:complexType>
                                                                                                         <xs:attribute name="encodingStyle" type="xs:string"></xs:attribute>
                                                                                                         <xs:attribute name="namespace" type="xs:string"></xs:attribute>
                                                                                                         <xs:attribute name="use" type="xs:string"></xs:attribute>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                       </xs:sequence>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                      <xs:element name="output">
                                                                             <xs:complexType>
                                                                                    <xs:sequence>
                                                                                           <xs:element name="soap:body">
                                                                                                  <xs:complexType>
                                                                                                         <xs:attribute name="encodingStyle" type="xs:string"></xs:attribute>
                                                                                                         <xs:attribute name="namespace" type="xs:string"></xs:attribute>
                                                                                                         <xs:attribute name="use" type="xs:string"></xs:attribute>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                       </xs:sequence>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                  </xs:sequence>
                                                               <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                          <xs:attribute name="name" type="xs:string"></xs:attribute>
                                          <xs:attribute name="type" type="xs:string"></xs:attribute>
                                      </xs:complexType>
                               </xs:element>
                            <xs:element name="service">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="documentation" type="xs:string"></xs:element>
                                                 <xs:element name="port">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="soap:address">
                                                                             <xs:complexType>
                                                                                    <xs:attribute name="location" type="xs:string"></xs:attribute>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                  </xs:sequence>
                                                               <xs:attribute name="binding" type="xs:string"></xs:attribute>
                                                               <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                          <xs:attribute name="name" type="xs:string"></xs:attribute>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                     <xs:attribute name="xmlns" type="xs:string"></xs:attribute>
                     <xs:attribute name="xmlns:soap" type="xs:string"></xs:attribute>
                     <xs:attribute name="xmlns:tns" type="xs:string"></xs:attribute>
                     <xs:attribute name="xmlns:xsd" type="xs:string"></xs:attribute>
                     <xs:attribute name="name" type="xs:string"></xs:attribute>
                     <xs:attribute name="targetNamespace" type="xs:string"></xs:attribute>
                 </xs:complexType>
          </xs:element>
   </xs:schema>